{% extends 'layout.html' %}
{% block body %}
    {% for single_news in news %}
    <div class="card" style="width: auto;">
        <img class="card-img-top" src="{{ single_news.urlToImage }}">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ single_news.url }}">{{ single_news.title }}</a></h3>
          <p class="card-text">{{ single_news.description}}</p>
          <button class="btn btn-primary">{{ single_news.source.name }}</button>
        </div>
    </div>   
    {% endfor %}
{% endblock %}